@page
@Html.AntiForgeryToken()
@model WebApplication.Pages.Game
@{
    ViewData["Title"] = "Battleships";
}

<div class="text-center">
    <table class="table board">
        @for (int y = 0; y < Model?.GameBoard?.Height; y++)
        {
            <tr>
                @for (int x = 0; x < Model?.GameBoard?.Width; x++)
                {
                    <td class="table-cell">
                        @if (Model.GameBoard.WhiteToMove)
                            {
                                <button onclick="placeBomb(@y, @x)"
                                        onmouseenter="visualizeBomb(@y, @x)"
                                        class="btn-cell @Model.CellStatus(y, x)"
                                        id="cell-@y-@x">
                                    @* @Model.GameBoard.Board[(int) GameBoard.BoardType.WhiteShips][y, x] *@
                                </button>
                            }
                            else
                            {
                                <button onclick="placeBomb(@y, @x)"
                                        onmouseenter="visualizeBomb(@y, @x)"
                                        class="btn-cell @Model.CellStatus(y, x)"
                                        id="cell-@y-@x">
                                    @* @Model.GameBoard.Board[(int) GameBoard.BoardType.BlackShips][y, x] *@
                                </button>
                            }
                    </td>
                }
            </tr>
        }
    </table>
</div>

@section Scripts
{
    <script>
    
    function placeBomb(y, x) {
      $.post("/Game", {
          SessionId: @Model?.SessionId,
          ClickX: x,
          ClickY: y,
          __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
      }, function () {
          window.location.href = "/Game?SessionId=@Model!.SessionId";
      });
    }
    
    function visualizeBomb(y, x) {
        $('.preview-bomb').removeClass('preview-bomb');
        
        $('#cell-' + y + '-' + x).addClass('preview-bomb');
    }
    </script>
}
