@page
@Html.AntiForgeryToken()
@model WebApplication.Pages.Setup
@{
    ViewData["Title"] = "Battleships";
}

<div class="container">
    <div class="container row justify-content-center">
        <div class="col-8">
        <table class="table board">
            @for (int y = 0; y < Model?.GameBoard?.Height; y++)
            {
                <tr>
                    @for (int x = 0; x < Model?.GameBoard?.Width; x++)
                    {
                        <td class="table-cell">
                            @if (Model.GameBoard.WhiteToMove)
                            {
                                <button onclick="placeShip(@y, @x)"
                                        onmouseenter="visualizeShip(@y, @x)"
                                        class="btn-cell @Model.CellShipStatus(y, x)"
                                        id="cell-@y-@x">
                                    @* @Model.GameBoard.Board[(int) GameBoard.BoardType.WhiteShips][y, x] *@
                                </button>
                            }
                            else
                            {
                                <button onclick="placeShip(@y, @x)"
                                        onmouseenter="visualizeShip(@y, @x)"
                                        class="btn-cell @Model.CellShipStatus(y, x)"
                                        id="cell-@y-@x">
                                    @* @Model.GameBoard.Board[(int) GameBoard.BoardType.BlackShips][y, x] *@
                                </button>
                            }
                        </td>
                    }
                </tr>
            }
        </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <button class="btn btn-warning m-2" id="toggle-horizontal" onclick="toggleHorizontal()">Horizontal</button>
        @foreach (var (length, count) in Model!.GameBoard!.ShipCounts)
        {
            <button class="btn btn-primary m-2" onclick="setShipSize(@length)" id="ship-size-@length">
                Size @length (@Model.ShipsToPlaceInSize(length))
            </button>
        }
        <button class="btn btn-success m-2" onclick="generateBoard()">Generate board</button>
        <a class="btn btn-danger m-2" href="/Setup?SessionId=@Model!.SessionId&Revert=true">Revert Move</a>
    </div>
</div>

@section Scripts
{
    <script>
    let isHorizontal = true;
    let shipLength = @Model.MaxShipSize();
    let currY = 0;
    let currX = 0;
    
    document.body.onkeyup = function(e) {
       if (e.keyCode === 32) {
          toggleHorizontal();
       }
    };
    
    function placeShip(y, x) {
      $.post("/Setup", {
          SessionId: @Model!.SessionId,
          ClickX: x,
          ClickY: y,
          IsHorizontal: isHorizontal,
          ShipLength: shipLength,
          __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
      }, function () {
          window.location.href = "/Setup?SessionId=@Model!.SessionId";
      });
    }
    
    function generateBoard() {
      $.post("/Setup", {
          SessionId: @Model!.SessionId,
          GenerateBoard: true,
          __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
      }, function () {
          window.location.href = "/Setup?SessionId=@Model!.SessionId";
      });
    }
    
    function toggleHorizontal() {
        isHorizontal = !isHorizontal;
        $('#toggle-horizontal').text(isHorizontal ? 'Horizontal' : 'Vertical');
        visualizeShip(currY, currX);
    }
    
    function setShipSize(size) {
        shipLength = size;    
    }
    
    function visualizeShip(y, x) {
        currY = y;
        currX = x;
        $('.preview-ship').removeClass('preview-ship');
        for (let i = 0; i < shipLength; i++) {
            if (isHorizontal) {
                $('#cell-' + y + '-' + (x + i)).addClass('preview-ship');
            } else {
                $('#cell-' + (y + i) + '-' + x).addClass('preview-ship');
            }
        }
    }
    </script>
}
